*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.w50{
    width: 48%;
    height: 31rem;
}
.w40{
    width: 33%;
    height: 22.5rem;
}
.w30{
    width: 30%;
    height: 22.5rem;
}

.color1{
    background-color: #d9bbc2;
}
.color2{
    background-color: #b3c6ab;
}
.color3{
    background-color: #adc2cb;
}
.color4{
    background-color: #b0b5d3;
}
.color5{
    background-color: #cbb7c8;
}
.color6{
    background-color: #d7cdc2;
}

.header_container{
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #e3e6f2;
}

 .main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #e3e6f2;
    width: 100%;
    height: 7rem;
    padding: 0rem 5%;
    z-index: 999;
    box-shadow: 0px 1px 16px 0px #bba0a04b;
    /* opacity: 0; */
}

 header > img{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
}

.link_Atc::before{
    content: '';
    background-color: #737682;
    position: absolute;
    border-radius: .3rem;
    width: 40%;
    height: .26rem;
    bottom: 0;
}

/* .link_Atc::before:hover{
    content: '';
    background-color: black;
    position: absolute;
    width: 50%;
    height: .3rem;
    bottom: 0;
} */

header > nav > ul{
    display: flex;
    justify-content: flex-end;
    font-size: 1.7rem;
    transition: .5s ease-in-out;
}


header > nav > ul > li{
    list-style-type: none;
    padding: .5rem 1.5rem;
    position: relative;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: #737682;
}

#mobile{
    font-size: 2.4rem;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.MobileAtc {
    transition: .5s ease;
    width: 25rem;
}

.conteudo{
    height: 100%;
    width: 100%;
    display: flex;
}

.content_esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: red; */
    padding-left: 5%;
    /* width: 50%; */
    z-index: 1;
}

.content_esquerdo > h3{
    font-size: 2rem;
    color: #2d2c35;  
    
}

.content_esquerdo > h2:nth-last-of-type(2){
    color: #2d2c35;
    font-size: 4.5rem;
}
.content_esquerdo > h2:nth-last-of-type(1){
    color: #0e8174;
    font-size: 4.5rem;
}
.content_esquerdo > p{
    font-size:1.5rem;
    padding: 1.5rem 0;
    color: #a4abbd;
}
.content_esquerdo > button{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #efc396;
    color: #86888f;
    font-size:1.2rem;
    width: 14rem;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 1rem;
}


/* .content_direito{
    display: flex;
    justify-content: center;
    background: blue;
    position: relative;
    width: 50%;
    height: 100%;
} */

.conteudo img{
    position: absolute;
    height: 82%;
    width: 25%;
    min-width: 29rem;
    bottom: 0%;
    right: 17%;
}

.produtos_container{
    padding: 4rem 0;
}

.TopoProdut{
    width: 100%;
    height: 32rem;
    background-image: url(http://localhost/Keven/loja/view/imgs/TopProd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position-y: 19%;
    align-items: center;
    justify-content: center;
    color: white;
}

.TopoProdut h2{
    font-size: 3.5rem;
}
.TopoProdut p{
    font-size: 1.5rem;
}

.produtos_container > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22rem;
    width: 100%;
    padding: 1rem 6%;
    margin-bottom: 6rem;
}

.Prod_Link_Uteis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #dbd9d9;
    height: 90%;
    width: calc(100% / 6);
    min-width: 10rem;
    max-width: 17rem;
    margin: 0 0.5rem;
    border-radius: .4rem;
    box-shadow: 0px 4px 4px 0px #e3e6f2;
}

.Prod_Link_Uteis img{
    height: 95%;
    width: 100%;
    max-height: 99px;
    max-width: 99px;
    /* margin-bottom: 1rem; */
}

.Prod_Link_Uteis p{
    padding: 0.4rem 2rem;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.prod_conteudo{
    width: 100%;
    padding: 0rem 5% 0 5%;
}

.prod_conteudo header{
    width: 100%;
    /* padding: 5rem 0; */
    text-align: center;
    margin-bottom: 3rem;
}

.prod_conteudo header > h2{
    font-size: 4.5rem;
}

.prod_conteudo header > p{
    font-size: 1.6rem;
    padding: 1rem 0;
}

.MostrarProduto_1{
    width: 100%;
    display: flex;
    /* justify-content: space-between;  */
    flex-wrap: wrap;
}


.MostrarProduto_1 .ProdUnico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100%);
    max-width: 25rem;
    height: 96%;
    border: 1px solid rgba(128, 128, 128, 0.267);
    padding: 1rem 0.7rem;
    margin: 1.2rem 1%;
    border-radius: 2rem;
    transition: .3s;
}

.MostrarProduto_1 .ProdUnico:hover{
    box-shadow: 0px 3px 10px 1px #d0d4e0;
}

.wrap{
    width: calc(100% / 4);
    height: 38rem;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    /* background-color: #adadad87; */
}

.imgProdU{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    border-radius: 1.5rem;
    background-color: #f0f0f0;
}

.MostrarProduto_1 .imgProdU > a > img{
    width: 100%;
    max-width: 19rem;
    height: 100%;
    max-height: 17rem;
    margin-bottom: 1rem;
}

.MostrarProduto_1 .ProdUnico .Info_ProdUnico{
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 30%;
    width: 95%;
    padding: 1rem 0;
}

.Info_ProdUnico p{
    font-size: 1.35rem;
    color: #949090;
}

.Info_ProdUnico h4{
    font-size: 1.65rem;
}

.InfoEstrelas{
    display: flex;
    padding: .5rem 0;
}

.InfoEstrelas i{
    font-size: 1.3rem;
    margin-right: .2rem;
    color: #c9940a;
}
.Preco_Carrinho{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Preco_Carrinho p{
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

.Preco_Carrinho button {
    background-color: #f0f0f0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0;

}

.Preco_Carrinho button i{
    font-size: 1.8rem;
    color: #444343;
}

.ShowPromo{
    width: 100%;
    height: 26rem;
    margin: 9rem 0;
    /* background-repeat: no-repeat; */
    background-image: url('imgs/prmoEuro.png');
    background-size: 100% 140%;
    background-position: center;
}

.ShowPromo img{
    height: 100%;
    width: 100%;
    background-size: contain;
}

.produtos_container{
    width: 100%;
}

.cont_hot_categ{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 5%;
    margin-top: 6rem;
}

.hot_unic{
    margin: 1.5rem 1%;;
}

.categ_hot_1{
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0rem -7rem; */
    background-image: url('imgs/hots1.jpg');
}
.categ_hot_2{
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0rem -7rem; */
    background-image: url('imgs/hots2.jpg');
}
.categ_hot_3{
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0rem -7rem; */
    background-image: url('imgs/hots5.jpg');
}
.categ_hot_4{
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0rem -7rem; */
    background-image: url('imgs/hots4.jpg');
}
.categ_hot_5{
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0rem -7rem; */
    background-image: url('imgs/hots.jpg');
}

.NotNovidades{
    width: 100%;
    margin: 5rem 0;
    padding: 7rem 5%;
    background-color: #031e41;
    display: flex;
}

.NotNovidades .esquerda{
    width: 50%;
}

.NotNovidades .esquerda h3{
    font-size: 2.3rem;
    color: white;
}

.NotNovidades .esquerda p{
    font-size: 1.6rem;
    color: #5a708c;
}

.NotNovidades .esquerda p b{
    color: #a76b24;
}

.NotNovidades .direita{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.NotNovidades .direita input{
    height: 4.5rem;
    color: #5a708c;
 }

.NotNovidades .direita input[type='text']{
   padding-left: 2rem;
   width: 28rem;
   outline: none;
}

.NotNovidades .direita input[type='submit']{
   padding: 0rem 2.5rem;
   color: white;
   background-color: #098079;
   border: 0;
  
 }

/* footer{
    width: 100%;
    position: absolute;
     bottom: 0;
} */

.f_uteis{
    display: flex;
    padding: 1rem 5%;
}

.contatcFollowsImg a{
    text-decoration: none;
    color: black;
}

.contatcFollowsImg a:hover i{
     transform: scale(1.2, 1.2)
}

.f_contato{
    width: 30%;
    display: flex;
    justify-content:center;
    /* align-items: center; */
    flex-direction: column;
}

.f_contato > img{
    width: 5.7rem;
    height: 6rem;
}

.f_contato h2{
    font-size: 1.8rem;
}

.f_contato p{
    font-size: 1.5rem;
    padding: .3rem 0;
}

.f_contato i{
    padding: 0 .5rem;
    font-size: 2.2rem;
}

.f_about{
    width: 30% 
}
 
.f_about h2{
    font-size: 1.8rem;
    padding: 1rem 0;
}

.f_about p{
    font-size: 1.5rem;
    padding: .2rem 0;
}

.f_install{
    width: 40%
}

.f_install h2{
    font-size: 1.8rem;
    padding: 1rem 0;
}

.f_install p{
    font-size: 1.5rem;
    padding: .2rem 0;
}

.contentStore{
    display: flex;
}

.apllestyle{
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid gray;
    padding: .3rem 2rem;
    border-radius: .3rem;
    margin-right: .7rem;
}

.apllestyle i{
    padding-right: .8rem;
    font-size: 2.8rem;
}

.apllestyle p{
    font-size: 1.3rem;
}

.apllestyle b{
    font-size: 1.4rem;
}

.googlestyle{
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid gray;
    border-radius: .3rem;
    padding: .5rem 2rem;
}

.googlestyle i{
    padding-right: .8rem;
    font-size: 2.7rem;
}

.cartoes{
    font-size: 3.6rem;
    display: flex;
    align-items: center;
}

.cartoes img{
    width: 5.5rem;
    height: 100%;
    margin: 0 .3rem;
}


/* MEDIA SCREENS */

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 768px){
    header > nav > ul {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        padding-top: 8rem;
        top: 0;
        right: 0;
        width: 0rem;
        background-color: #e3e6f2;
        position: absolute;
        font-size: 1.9rem;
    }

    #mobile{
        display: block;
    }

    .link_Atc::before {
        width: 12%;
    }

    .conteudo img {
        right: 6%;
    }

    .produtos_container > header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding: 1rem 6%;
        margin-bottom: 6rem;
    }

    .Prod_Link_Uteis {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #dbd9d9;
        height: 16rem;
        width: calc(100% / 3);
        min-width: 10rem;
        flex-wrap: wrap;
        max-width: 17rem;
        margin: 1rem 0.5rem;
        border-radius: 0.4rem;
        box-shadow: 0px 4px 4px 0px #e3e6f2;
    }

    .wrap {
        width: calc(100% / 3);
        height: 38rem;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0.3rem 1rem;
    }

    .w50 {
        width: 100%;
        height: 30rem;
    }

    .hot_unic {
        margin: .5rem 1%;
    }

    .NotNovidades {
        width: 100%;
        margin: 5rem 0;
        padding: 5rem 5%;
        flex-wrap: wrap;
        /* flex-direction: column; */
        background-color: #031e41;
        display: flex;
    }
    
    .NotNovidades .esquerda {
        width: 100%;
    }    
    .NotNovidades .direita {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        margin-top: 2rem;
    }

    .f_uteis {
        flex-wrap: wrap;
    }
    .f_contato {
        width: 55%;
    }
    .f_install {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 568px){
    .prod_conteudo {
        padding: 0rem 2% 0 2%;
    }
    .wrap {
        width: calc(100% / 2);
        padding: 0.3rem 0.5rem;
    }
    .Prod_Link_Uteis {
        margin: 1rem 1.5rem;
    }
    .produtos_container > header {
        justify-content: center;
        padding: 1rem 2%;
    }
}


/* PARTE DO CONTATO */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e9;
    width: 100%;
    height: calc(100vh - 70px);
}

.content{
    background-color: azure;
    width: 75rem;
    height: 45rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 2px rgb(0 0 0 / 20%);
    border-radius: .5rem;
    position: relative;
}

.changeView{
    display: none;
    align-items: center;
    font-size: 2.3rem;
    position: absolute;
    right: 6%;
    top: 1.4rem;
    z-index: 99;
    height: 4rem;
}

.changeView i{
    cursor: pointer;
}

.changeView > i:nth-of-type(1){
    display: none;
}

.cont_esquerda{
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    width: 35%;
    height: 100%;
}

.AbaLateral{
    width: 32rem;
    height: 84%;
    padding: 1% 2% 1% 4rem;
    display: flex;
    background-color: #ed3348;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -10rem;
    border-radius: .5rem;
}

.AbaLateral h2{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.contac_single{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.contac_single a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.contac_single i{
    font-size: 2rem;
    padding-right: 1.6rem;
}

.cont_direita{
    width: 75%;
    height: 100%;
    display: flex;
    padding: 4% 3%;
    flex-direction: column;
    justify-content: center;
}

.cont_direita h2{
    font-size:2.5rem;
    color: #103e6d;
}

.cont_direita p{
    color: #9aa0a3;
    font-size:1.5rem;
    margin: .5rem 0 2rem 0;
}

.cont_direita form{
    display: flex;
    flex-direction: column;
}

.cont_direita form input, form textarea{
   width: 80%;
   height: 5.5rem;
   font-size: 1.4rem;
   border-radius: 1rem;
   border: 0;
   margin: 1.2rem 0;
   padding: 1rem 1rem;
   outline: none;
   background-color: #ffe6e9;
   color: #616168;
   resize: none;
}

.cont_direita form textarea{
    height: 10rem;
 }

.cont_direita form input[type="submit"]{
    width: 10rem;
    height: 4.2rem;
    border-radius: 1.5rem;
    border: 0;
    margin: 1rem 0;
    padding: 1rem 1rem;
    background-color: #ed3348;
    color: white;
    font-size: 1.6rem;
 }

 @media screen and (max-width:  900px){
    .cont_esquerda {
        width: 40%;
    }
    .AbaLateral {
        width: 32rem;
        padding: 1% 2% 1% 4rem;
        left: -5rem;
    }
    .cont_direita {
        width: 60%;
        padding: 4% 1%;
    }
    .cont_direita form input, form textarea {
        width: 90%;
    }
 }

@media screen and (max-width: 768px){
    .content {   
        width: 95%;
        justify-content: center;
    }
    .changeView{
        display: flex;
    }
    .esquerdaAtiva{
        width: 100% !important;
        height: 100%;
        padding: 1% 2% 1% 6rem;
        display: flex;
        background-color: #ed3348;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        /* left: -10rem; */
        /* border-radius: 0.5rem; */
    }
    .cont_esquerda {
        width: 0%;
    }   

    .AbaLateral.AbaAtiva{
        width: 100%;
        height: 100%;
        padding: 1% 2% 1% 6rem;
        display: flex;
        background-color: #ed3348;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        /* left: -10rem; */
        border-radius: .5rem;
    }

    .AbaLateral {
        width: 0rem;
        padding: 0;
        left: 0;
        overflow: hidden;
    }
    .cont_direita.offdireita{
        width: 0%;
        padding: 0;
        overflow: hidden;
    }
    .cont_direita {
        width: 100%;
        padding: 4% 6%;
    }
}

/* ESTILO PARA INFORMAÇÕES DOS PRODUTOS */

.info_cont{
    height: calc(100% - 52px);
    width: 100%;
    padding: 1rem 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos_prod span a {
    font-size: 1.6rem
}
.infos_prod h2 {
    font-size: 2.5rem;
    margin: 2.5rem 0 1.5rem 0;
}
.infos_prod h3 {
    font-size: 2rem
}

.cont_imgs{
    width: 45%;
    height: 106%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_princ{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e6f2;
}

.img_princ img{
    max-width: 48rem;
    max-height: 44rem;
}

.imgs_previus{
    height: 20%;
    max-width: 48rem;
    width: 100%;
    margin-top: .8rem;
    overflow: hidden;
    overflow-x: scroll;
}

.scroll{
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 0 2%;
    position: relative;
}

.previus_single{
    width: 12rem;
    background: gray;
    margin-right:1rem;
    height: 95%;
    position: relative;
}

.previus_single img{
    width: 100%;
    height: 100%;
}

.infos_prod{
    width: 55%;
    padding: 4rem 0 4rem 2rem;
    height: 100%;
}

.prod_options{
    width: 15rem;
    margin: 1.5rem 0 0 0;
}

.prod_options select{
    margin-bottom: 0.6rem;
    width: 100%;
    height: 3.4rem;
    text-align: center;
}

.prod_options input{
    height: 3.4rem;
    margin-right: 0.5rem;
    width: 30%;
    text-align: center;
}
.prod_options button{
    height: 3.4rem;
    width: 64%;
    text-align: center;
}

.info_detalhes{
    width: 80%;
}

.info_detalhes p{
    font-size: 1.5rem;
}


/*ESTILO PARA O BLOG*/

.topo{
    background-image: url("http://localhost/Keven/loja/view/imgs/topo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 78%;
    width: 100%;
    height: 33rem;
    margin: 0rem 0 14rem 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.topo h2{
    font-size: 3.5rem;
}

.topo p{
    font-size: 1.5rem;
}

.content_blog{
    padding: 0 6%;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    margin: 9rem 0 6rem 0;
    position: relative;
}

.img_data{
    height: 100%;
    width: 45%;
    max-width: 49rem;
    background:red;
}

.infos_content{
    padding-left:3%;
    width: 55%;
}

.limit_text{
    width: 70%;
}

.img_data h2{
    font-weight: bold;
    font-size: 5.4rem;
    position: absolute;
    top: -4.4rem;
    left: 0;
    color: #939499;
    padding-left: 6%;
    z-index: -1;
    font-family: 'Roboto Mono', monospace;
}

.img_data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos_content h2{
    font-size: 1.9rem;
}

.infos_content p{
    font-size: 1.5rem;
}


.limit_text > p{
    margin: 1.1rem 0;
    color: #939499;
}

.line_cont{
    display: flex;
    font-weight: bold;
    align-items: center;
}

.line{
    display: block;
    width: 5rem;
    height: .1rem;
    margin-left: 1rem;
    background-color: black;
}

.paginacao{
    margin-top: 8rem;
    width: 100%;
    height: 5rem;
    font-size: 1.9rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}

.paginacao span{
    border-radius: .4rem;
    width: 4.5rem;
    height: 4rem;
   margin: 0 .4rem; 
   background-color: gray;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}


/* ESTILO PÁGINA SOBRE */

.topoSobre{
    background-image: url("http://localhost/Keven/loja/view/imgs/buildingSobre.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
     background-position-y: 78%;
    width: 100%;
    height: 33rem;
    margin: 0rem 0 14rem 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    color: white;
}

.topoSobre h2{
    font-size: 3.5rem;
}
.topoSobre p{
    font-size: 1.5rem;
}

/* ESTILO PARA A PÁGINA DE SOBRE */

.contentImgSobre{
    display: flex;
    width: 100%;
    height: 50rem;
    align-items: center;
}

.sobre_img{
    width: 45%;
    height: 100%;
}

.sobre_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.sobre_text{
    width: 55%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-right: 10%;
    height: 100%;
}

.sobre_text h2{
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
}

.sobre_text p{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.contentDownApp{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60rem;
    margin-bottom: 6rem;
}

.contentDownApp h2{
   font-size: 4.8rem;
   margin-bottom: 2rem;
}

.downApp{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f2e33; */
    border-radius: 2rem;
    width: 51rem;
    overflow: hidden;
    height: 100%;
}

.downApp video{
    /* background: #2f2e33; */
    /* opacity: .5; */
    width: 174%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentCarrinho{
    width: 100%;
    padding: 2rem 5%;
    margin: 2rem 0;
    /* background-color: rgb(87, 77, 77); */
    font-size: 1.8rem;

}

.CarTitles{
    display: flex;
    justify-content:center;
    margin-bottom: .5rem;
    border-top: 1px solid #c3c6cf;
    border-bottom: 1px solid #c3c6cf;
}

.CarTitles span{
    width: calc(100% / 7);
    padding: 1.5rem 0;
    text-align: center;
    /* background-color: rgb(221, 74, 74); */
}

.CarTitles span:nth-of-type(1){
    max-width: 12rem;
}

.CarTitles span:nth-of-type(2){
    max-width: 10rem;
}
.CarTitles span:nth-of-type(3){
    min-width: 15rem;
}
.CarTitles span:nth-of-type(4){
    min-width: 19rem;
}
.CarTitles span:nth-of-type(5){
    min-width: 13rem;
}
.CarTitles span:nth-of-type(6){
    min-width: 15rem;
}

.carInfos{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content:center;
}

.carInfos span{
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: .5rem 0;
    text-align: center;
    /* background-color: rgb(221, 74, 74); */
}

.carInfos span:nth-of-type(1){
    max-width: 12rem;
}
.carInfos span input:nth-of-type(1) {
    width: 1.9rem;
    height: 1.9rem;
}

.carInfos span:nth-of-type(2){
    max-width: 10rem;
}
.carInfos span i{
   font-size: 2rem;
}

.carInfos span:nth-of-type(3){
    min-width: 15rem;
}
.carInfos span:nth-of-type(4){
    min-width: 19rem;
    font-size: 1.6rem;
}

.carInfos span:nth-of-type(5){
    min-width: 13rem;
    font-size: 1.6rem;
}
.carInfos span:nth-of-type(6){
    min-width: 15rem;
}
.carInfos span:nth-of-type(6) input {
    width: 6.5rem;
    font-size: 1.6rem;
    text-align: center;
    height: 3.5rem;
}

.carInfos span:nth-of-type(7){
    font-size: 1.6rem;
}


.carInfos span img{
    width: 100%;
    max-width: 9.5rem;
    height: 100%;
    object-fit: fill;
}

.FinalBuy{
    display: flex;
    width: 100%;
    padding: 0 5%;
    margin: 8rem 0 3rem 0;
}

.cupom{
    width: 50%;
}

.cupom input[type="text"]{ 
    width: 60%;
    height: 3.5rem;
    margin-top: 2rem;
    outline: none;
}

.cupom input[type="submit"]{ 
    /* width: 40%; */
    height: 3.5rem;
    padding: 0 1.6rem;
}


.finalValores{
    width: 50%;
    padding: 3rem 1rem;
    border: 1px solid gray;
}

.finalValores h2{
   font-size: 2rem;
   margin-bottom: 2rem;
}

.finalValores table{
    border-collapse: collapse; 
 }
.finalValores td{
    font-size: 1.6rem;
    padding: .5rem;
    border: 1px solid rgb(158, 153, 153);
   
 }


 /* ESTILO PARA O MAPS */

 .maps{
    width: 100%;
    height: calc(100vh - 70px);
    padding: 0 5%;
    margin-top: -4rem;
    display: flex;
    justify-content:center;
    align-items: center;
 }

 .MapsInfo{
    width: 40%;
 }

 .MapsInfo > h2{
    font-size: 2.4rem;
 }
 .MapsInfo > p{
    font-size: 1.7rem;
    margin: 1.4rem 0;
    font-weight: bold;
 }

 .wraper-map{
    display: flex;
    justify-content: center;
    width: 55%;
}

.wrape-map3{
    position: relative;
    max-height: 35rem;
    width: 100%;
    max-width: 60rem;
}

.wraper-map2{
        /* left: 0; */
    /* top: 0; */
    width: 100%;
    /* height: 100%; */
    padding-top: 100%;
    /* position: relative; */
}

.mapa{
    /* margin-top: 10px; */
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
}

 /* ESTILO PARA FORMULÁRIO DE CONTATO */

 .topoContato{
    background-image: url("http://localhost/Keven/loja/view/imgs/buildingSobre.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
     background-position-y: 78%;
    width: 100%;
    height: 33rem;
    margin: 0rem 0 14rem 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    color: white;
}

.topoContato h2{
    font-size: 3.5rem;
}
.topoContato p{
    font-size: 1.5rem;
}

 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffe6e9; */
    width: 100%;
    height: 100vh;
}

.content{
    background-color: azure;
    width: 78rem;
    height: 45rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 2px rgb(0 0 0 / 20%);
    border-radius: .5rem;
    position: relative;
}

.changeView{
    display: none;
    align-items: center;
    font-size: 2.3rem;
    position: absolute;
    right: 6%;
    top: 1.4rem;
    z-index: 99;
    height: 4rem;
}

.changeView i{
    cursor: pointer;
}

.changeView > i:nth-of-type(1){
    display: none;
}

.cont_esquerda{
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    width: 45%;
    height: 100%;
}

.AbaLateral{
    width: 31rem;
    height: 85%;
    padding: 1% 2% 1% 4rem;
    display: flex;
    background-color: #ed3348;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -50%;
    border-radius: 0.5rem;
}

.AbaLateral h2{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.contac_single{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.contac_single a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.contac_single i{
    font-size: 2rem;
    padding-right: 1.6rem;
}

.cont_direita{
    width: 80%;
    height: 100%;
    display: flex;
    padding: 4% 3%;
    flex-direction: column;
    justify-content: center;
}

.cont_direita h2{
    font-size:2.5rem;
    color: #103e6d;
}

.cont_direita p{
    color: #9aa0a3;
    font-size:1.5rem;
    margin: .5rem 0 2rem 0;
}

.cont_direita form{
    display: flex;
    flex-direction: column;
}

.cont_direita form input, form textarea{
   width: 80%;
   height: 5.5rem;
   font-size: 1.4rem;
   border-radius: 1rem;
   border: 0;
   margin: 1.2rem 0;
   padding: 1rem 1rem;
   outline: none;
   background-color: #ffe6e9;
   color: #616168;
   resize: none;
}

.cont_direita form textarea{
    height: 10rem;
 }

.cont_direita form input[type="submit"]{
    width: 10rem;
    height: 4.2rem;
    border-radius: 1.5rem;
    border: 0;
    margin: 1rem 0;
    padding: 1rem 1rem;
    background-color: #ed3348;
    color: white;
    font-size: 1.6rem;
 }

 @media screen and (max-width:  900px){
    .cont_esquerda {
        width: 40%;
    }
    .AbaLateral {
        width: 32rem;
        padding: 1% 2% 1% 4rem;
        left: -5rem;
    }
    .cont_direita {
        width: 60%;
        padding: 4% 1%;
    }
    .cont_direita form input, form textarea {
        width: 90%;
    }
 }

@media screen and (max-width: 768px){
    .content {   
        width: 95%;
        justify-content: center;
    }
    .changeView{
        display: flex;
    }
    .esquerdaAtiva{
        width: 100% !important;
        height: 100%;
        padding: 1% 2% 1% 6rem;
        display: flex;
        background-color: #ed3348;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        /* left: -10rem; */
        border-radius: 0.5rem;
    }
    .cont_esquerda {
        width: 0%;
    }   

    .AbaLateral.AbaAtiva{
        width: 100%;
        height: 100%;
        padding: 1% 2% 1% 6rem;
        display: flex;
        background-color: #ed3348;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        /* left: -10rem; */
        border-radius: .5rem;
    }

    .AbaLateral {
        width: 0rem;
        padding: 0;
        left: 0;
        overflow: hidden;
    }
    .cont_direita.offdireita{
        width: 0%;
        padding: 0;
        overflow: hidden;
    }
    .cont_direita {
        width: 100%;
        padding: 4% 6%;
    }
}